#gallery {
	position: relative;
	width: 76vw;
	height: 76vw;
	left: 9vw;
	padding: 3vw;
	box-sizing: content-box;
}

.gallery-row {
	width: 100%;
	height: 19vw;
	box-sizing: content-box;
}

.gallery-row.bottom {
	padding-bottom: 3vw;
	box-sizing: content-box;
}

#loading-blocker {
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 10;
	box-sizing: content-box;
}