#gallery {
	position: relative;
	width: 64vw;
	height: 100%;
	left: 13vw;
	padding: 5vw;
}

.gallery-row {
	width: 100%;
	height: 16vw;
}

#loading-blocker {
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 10;
}