#gallery {
	position: relative;
	width: 68vw;
	height: 100%;
	left: 10vw;
	padding: 5vw;
}

.gallery-row {
	width: 100%;
	height: 17vw;
}

#loading-blocker {
	height: 100%;
	width: 100%;
	position: fixed;
	pointer-events: none;
	z-index: 10;
}