/* Background pattern from Subtle Patterns https://www.toptal.com/designers/subtlepatterns/ */
html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  font-family: sans-serif;
  background-image:
      linear-gradient(rgba(188,201,211,0.5),rgba(230,235,239,0.6)),
      url('./random_grey_variations.png');
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  box-sizing: content-box;
}

#root {
	height: 100%;
	width: 100%;
}