html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background: linear-gradient(rgba(188,201,211,0.93), rgba(230,235,239,0.95)),url('./denim-165303_1280.jpg');
  background-size: cover, contain;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
}

#root {
	height: 100%;
	width: 100%;
}