.thumbnail-container {
	transition: all .3s linear;
	max-width: 15vw;
	height: 15vw;
	padding: .5vw;
	float: left;
	font-size: 0;
}

.thumbnail-image {
	height: 15vw;
	width: 15vw;
	position: relative;
	z-index: 0;
	transition: all .3s linear;
	/*clip-path: circle(7.5vw);*/
	/*transform: translate3d(0,0,0);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 15%;
}

.thumbnail-image.loading {
	opacity: 0;
}

.thumbnail-image.faded {
	opacity: .7;
}

.thumbnail-container:hover .thumbnail-image,
.thumbnail-container:active .thumbnail-image,
.thumbnail-container:focus .thumbnail-image {
	transition: all .3s linear;
	height: 130%;
	/*clip-path: circle(100%);*/
	border-radius: 0;
	z-index: 20;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.temp-image {
	visibility: hidden;
}